/**
 * @file
 * Custom styles for Drupal's notification messages.
 */

.messages {
  color: #fff;
  margin: 6px 0;
  padding: 10px 10px 10px 40px; /* LTR */
  position: relative;
  text-align: left;

  &:before {
    @include square(24px);
    content: '';
    font-size: 22px;
    position: absolute;
    left: 10px;
    top: 7px;
  }
}

.status,
.ok {
  background-color: $statusokbg;
  a {
    color: lighten($statusokbg, 50%);
  }
  &:before {
    content: '\e601';
    @include icomoon();
  }
}

.warning {
  background-color: $warningbg;
  a {
    color: lighten($warningbg, 50%);
  }
  &:before {
    content: '\e602';
    @include icomoon();
  }
}

.error {
  background-color: $errorbg;
  a {
    color: lighten($errorbg, 50%);
  }
  &:before {
    content: '\e600';
    @include icomoon();
  }
}

.messages ul {
  list-style: none;
  margin: 0; /* LTR */
  padding: 0;
}
.messages ul li {
  border-bottom: 1px solid #fff;
  list-style-image: none;
  margin-bottom: 4px;
  padding-bottom: 5px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
// Fix some styles in Krumo
.krumo-element,
.krumo-footnote,
.krumo-call,
.krumo-preview {
  color: #231f20;
}